# Server
PORT=5000
CORS_ORIGIN=*

# Database
MONGO_URI=mongodb://localhost:27017/co-op-lending

# Auth
JWT_SECRET=change-me

# Nomba
NOMBA_CLIENT_ID=change-me
NOMBA_CLIENT_SECRET=change-me
NOMBA_ACCOUNT_ID=change-me
NOMBA_WEBHOOK_SECRET=change-me

# Twilio
TWILIO_SID=change-me
